* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  background: #111;
  color: white;
  padding: 20px;
  text-align: center;
}

nav a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

.banner {
  text-align: center;
  padding: 40px;
}

.banner img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 30px;
}

.card {
  border: 1px solid #ddd;
  padding: 15px;
  text-align: center;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}


button, .btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  background: black;
  color: white;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 350px;
}

table {
  width: 90%;
  margin: 30px auto;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #ccc;
}

th, td {
  padding: 10px;
  text-align: center;
}

form {
  width: 60%;
  margin: 30px auto;
}

form input, form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
}
